.page-header
  .pull-right
    = link_to "Random", nil, class: "btn btn-info"

  %h1= @cohort.name

%table.table
  %thead
    %tr
      %th Pair 1
      %th Pair 2
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= pair.first.full_name
        - if pair.second
          %td= pair.second.full_name
        - else
          %td.not-paired Instructor
