.page-header
  %h1 #{@user.full_name}: Edit Action Plan Entry

= form_for @entry,
           url: instructor_cohort_student_action_plan_entry_path(@cohort, @user, @entry),
           html: {class: 'form-horizontal'} do |f|
  = render 'form', f: f

.row
  .col-md-10.col-md-offset-2
    .page-header
      %h3 Additional Objectives
    - if @cohort.curriculum_id?
      = react_component 'StudentPerformanceTable',
                        spinnerPath: image_path('spinner.gif'),
                        performancesPath: user_performances_path(@user),
                        updatePerformancesPath: user_performances_path(@user, format: :json)
