%h1
  Official calendar

%p
  This calendar is the official source for all dates related to Galvanize.

%iframe{frameborder: "0", height: "600", scrolling: "no", src: "https://www.google.com/calendar/embed?showTitle=0&showDate=0&showPrint=0&showCalendars=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=galvanize.it_v5e0gr82sk2i881uv88dft9lpk%40group.calendar.google.com&color=%232952A3&ctz=America%2FDenver", width: "100%"}

%p
  %strong iCal URL
  %textarea(style="width: 100%; resize: none;" rows="1" onclick="this.focus();this.select()" readonly="readonly")
    http://www.google.com/calendar/ical/galvanize.it_v5e0gr82sk2i881uv88dft9lpk%40group.calendar.google.com/public/basic.ics
