---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/691724/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - "<PIVOTAL TRACKER TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: |-
        [
        ]
  recorded_at: Wed, 01 Oct 2014 17:23:02 GMT
[...]
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/691724/memberships
    body:
      encoding: UTF-8
      string: '{"email":"joe@example.com","initials":"JE","name":"Joe Example","admin":true,"project_creator":true}'
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - "<PIVOTAL TRACKER TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"46e8d308fe368ae421d32b07a157e2a0"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "account_membership",
          "id": 1033222,
          "person": {
            "kind": "person",
            "id": 1457294,
            "name": "Joe Example",
            "email": "joe@example.com",
            "initials": "JE",
            "username": "joeexample"
          },
          "account_id": 691724,
          "created_at": "2014-10-01T17:23:04Z",
          "updated_at": "2014-10-01T17:23:04Z",
          "owner": false,
          "admin": true,
          "project_creator": true,
          "timekeeper": false,
          "time_enterer": false
        }
  recorded_at: Wed, 01 Oct 2014 17:23:03 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/691724/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - "<PIVOTAL TRACKER TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "account_membership",
            "id": 1457294,
            "person": {
              "kind": "person",
              "id": 1457294,
              "name": "Joe Example",
              "email": "joe@example.com",
              "initials": "JE",
              "username": "joeexample"
            },
            "account_id": 691724,
            "created_at": "2014-10-01T17:23:04Z",
            "updated_at": "2014-10-01T17:23:04Z",
            "owner": false,
            "admin": true,
            "project_creator": true,
            "timekeeper": false,
            "time_enterer": false
          }
        ]
  recorded_at: Wed, 01 Oct 2014 17:23:03 GMT
recorded_with: VCR 2.9.3
