body.public.index,
body.public.sessions,
body.public.show {
  background-image: url("classroom.jpg");
  background-size: cover;
  background-attachment: fixed;
  > .navbar {
    margin-bottom: 45px;

    a {
      color: rgba(255, 255, 255, .7);
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        background-color: transparent;
        color: white;
      }
    }
    .custom-nav {
      ul li {
        a {
          color: black;
          text-transform: none;
        }
      }
    }

  }
  footer {
    margin-top: 50px;
    background: #fff;
  }
  a {
    color: #e28c05;
    &:hover {
      text-decoration: none;
    }
  }

}

.students-wrapper {
  background: rgba(255,255,255,1);
  padding: 40px 15px;
  box-shadow: 10px 10px #e28c05;
}

.public {
  .col-md-9.hiring-tabs {
    background: none;
    padding: 0px;
  }
  .headline-link {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    a {
      color: #e28c05;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .hire-list {
    font-size: 18px;
    border-top: 2px solid transparent;
    padding: 0px;
    li a {
      background: rgba(255,255,255,1);
      &.active {
        border-top: 2px solid #e28c05;
        &:hover {
          border-top: 2px solid #e28c05;
        }
      }
      &:hover {
        border-top: 2px solid #e28c05;
      }
    }
  }
  .nav-pills {
    li {
      background: none;
    }
    li a {
      background: rgba(255,255,255,1);
      color: #1e1e1e;
      padding: 5px 5px;
      font-size: 12px;
      font-weight: normal;
      &.all-students {
        padding: 10px 15px;
      }
      &:hover {
        font-weight: normal;
        color: #e28c05;
      }
    }
    &.strengths {
      li {
        background: #1e1e1e;
        padding: 3px 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
      }
    }
  }
  .list-group {
    box-shadow: none;
    margin-bottom: 0px;
  }
  .list-group-item {
    background: rgba(255,255,255,1);
    border-radius: 0px;
    border: none;
    border-top: 2px solid transparent;
    color: #1e1e1e;
    margin-bottom: 0px;
    &.active {
      background: #fff;
      color: #e28c05;
      font-weight: bold;
      margin-bottom: 0px;
      text-shadow: none;
      &:hover {
        background: rgba(255,255,255,1);
        border-top: 2px solid transparent;
        color: #e28c05;
        font-weight: bold;
        margin-bottom: 0px;
      }
    }
    &:hover {
      background: #fff;
      color: #e28c05;
      margin-bottom: 0px;
      border-bottom: none;
    }
    &.disabled {
      color: #e28c05;
      &:hover {
        cursor: default;
        color: #e28c05;
      }
    }
  }
  .thumbnail {
    border: none;
    box-shadow: none;
    img {
      border-radius: 0px;
    }
    .caption {
      padding-top: 0px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .student-interests,
  .student-filters {
    .interest-header {
      font-weight: bold;
      border-bottom: 1px solid #e28c05;
      list-style-type: none;
    }
  }
  .student-row {
    margin-bottom: 35px;
    .student-social-links {
      margin-top: 30px;
    }
  }
  .inline-social-links {
    span {
      margin-right: 25px;
    }
  }
  ul.bullets {
    margin-bottom: 25px;
    li {
      background: none;
      padding: 0 0 0 15px;
      margin: 8px 0;
      list-style-type: disc;
      list-style-position: inside;
      &.list-header {
        font-weight: bold;
        list-style-type: none;
        color: #e28c05;
      }
    }
  }
  .fa {
    color: #1e1e1e;
    -webkit-transition: color .2s;
    transition: color .2s;
    &:hover {
      color: #e28c05;
    }
  }
}
.badge-warning {
  background: red;
}
.student-zpd-data svg {
  width: 900px;
  height: 500px;
  margin: 0 auto;
}
.student-zpd-data.dashboard svg {
  height: 300px;
  width: 100%;
}
path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/*Media Query: max-width 767 & min-width 320 for sign in menu*/
@media only screen
  and (max-width: 767px)
  and (min-width: 320px) {

  #menu-stack .menu-item a {
    color: rgba(255, 255, 255, 0.7);
  }
}
