.page-header
  .pull-right
    = link_to "Learning Experiences", user_learning_experiences_path(@user), class: "btn btn-default"
    - if policy(Performance).update? && @user.current_cohort
      = link_to "Spreadsheet", cohort_performances_path(@user.current_cohort), class: "btn btn-info"
  %h1 #{@user.full_name} Performances

= react_component 'StudentPerformanceTable',
                  spinnerPath: image_path('spinner.gif'),
                  performancesPath: user_performances_path(@user, format: :json),
                  updatePerformancesPath: user_performances_path(@user, format: :json)
